title: "Naty Ova"
description: >-
  Официальный сайт: тексты песен, видео и ссылки на стриминги
baseurl: ""
url: ""

collections:
  songs:
    output: true
    permalink: /songs/:path/

defaults:
  - scope:
      path: ""
      type: "songs"
    values:
      layout: song
      toc: false

plugins:
  - jekyll-feed
  - jekyll-seo-tag
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
